<h3>Create a new restaurant</h3>
<form action="/restaurants" method="POST">
<label>Name:</label>
<input type="text" name="restaurant[name]" id="restaurant_name">
<br>
<br>
<label>Rating:</label>
<input type="text" name="restaurant[rating]" id="restaurant_rating">
<br>
<br>
<label>Address:</label>
<input type="text" name="restaurant[address]" id="restaurant_address">
<br>
<br>
<input type="submit" value="Submit">
</form>
