<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>
      <a href="/restaurants/new">Add a Restaurant</a>
      <a href="/users/new">Add a User</a>
      <a href="/restaurants">View All Restaurants</a>
      <a href="/users">View All Users</a>
    </p>
    <%= yield %>
  </body>

</html>